<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lck.reverse.dao.TProAttributeMapper">

    <resultMap id="BaseResultMap" type="com.lck.reverse.entity.TProAttribute">
        <id column="idAttr" property="idattr" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="classid" property="classid" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="ftitle" property="ftitle" jdbcType="VARCHAR"/>
        <result column="titlepic" property="titlepic" jdbcType="VARCHAR"/>
        <result column="smalltext" property="smalltext" jdbcType="VARCHAR"/>
        <result column="pimg1" property="pimg1" jdbcType="VARCHAR"/>
        <result column="pimg2" property="pimg2" jdbcType="VARCHAR"/>
        <result column="pimg3" property="pimg3" jdbcType="VARCHAR"/>
        <result column="pimg4" property="pimg4" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="VARCHAR"/>
        <result column="cert" property="cert" jdbcType="VARCHAR"/>
        <result column="pdfdownload" property="pdfdownload" jdbcType="VARCHAR"/>
        <result column="output_speed_color" property="outputSpeedColor" jdbcType="VARCHAR"/>
        <result column="output_speed_mono" property="outputSpeedMono" jdbcType="VARCHAR"/>
        <result column="outputsizemax" property="outputsizemax" jdbcType="VARCHAR"/>
        <result column="colour" property="colour" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">

    idAttr, id, classid, title, ftitle, titlepic, smalltext, pimg1, pimg2, pimg3, pimg4, 
    price, cert, pdfdownload, output_speed_color, output_speed_mono, outputsizemax, colour
  </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_pro_attribute
        (id, classid,
        title, ftitle, titlepic,
        smalltext, pimg1, pimg2,
        pimg3, pimg4, price,
        cert, pdfdownload, output_speed_color,
        output_speed_mono, outputsizemax, colour)
        VALUES
        <foreach collection="pros" item="proItem" separator=",">
            (#{proItem.id}, #{proItem.classid}
            , #{proItem.title}, #{proItem.ftitle}, #{proItem.titlepic}
            , #{proItem.smalltext}, #{proItem.pimg1}, #{proItem.pimg2}
            , #{proItem.pimg3}, #{proItem.pimg4}, #{proItem.price}
            , #{proItem.cert}, #{proItem.pdfdownload}, #{proItem.outputSpeedColor}
            , #{proItem.outputSpeedMono}, #{proItem.outputsizemax}, #{proItem.colour}
            )
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.lck.reverse.entity.TProAttribute">

    insert into t_pro_attribute (idAttr, id, classid, 
      title, ftitle, titlepic, 
      smalltext, pimg1, pimg2, 
      pimg3, pimg4, price, 
      cert, pdfdownload, output_speed_color, 
      output_speed_mono, outputsizemax, colour
      )
    values (#{idattr,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{classid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{ftitle,jdbcType=VARCHAR}, #{titlepic,jdbcType=VARCHAR}, 
      #{smalltext,jdbcType=VARCHAR}, #{pimg1,jdbcType=VARCHAR}, #{pimg2,jdbcType=VARCHAR}, 
      #{pimg3,jdbcType=VARCHAR}, #{pimg4,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{cert,jdbcType=VARCHAR}, #{pdfdownload,jdbcType=VARCHAR}, #{outputSpeedColor,jdbcType=VARCHAR}, 
      #{outputSpeedMono,jdbcType=VARCHAR}, #{outputsizemax,jdbcType=VARCHAR}, #{colour,jdbcType=VARCHAR}
      )
  </insert>


    <select id="getTProAttrs" parameterType="java.util.HashMap" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from t_pro_attribute
        where 1=1
        <if test="lower != null and lower !=''">
            and output_speed_mono &gt;=  #{lower}
        </if><if test="high != null and high !=''">
            and output_speed_mono &lt;= #{high}
        </if>
        <if test="outputsizemax != null and outputsizemax !=''">
            and outputsizemax = #{outputsizemax}
        </if>
        <if test="colour != null and colour !=''">
            and colour = #{colour}
        </if>
        limit ${startIndex} , ${pageSize}
    </select>
<!-- att.pimg1, pimg2, pimg3, pimg4,-->
<!-- limit ${startIndex},${pageSize}-->
    <select id="getProInfos" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT pro.havePdf,att.id,att.classid,att.title, att.ftitle, att.titlepic, att.smalltext,
         att.price, att.cert, att.output_speed_color, att.output_speed_mono, att.outputsizemax, att.colour
        FROM `t_pro_attribute` att left join t_pro_info  pro on att.id=pro.proId
        limit ${startIndex},${pageSize}
    </select>
    <select id="getProInfosCount"  resultType="java.lang.Integer">
        SELECT count(1)
        FROM `t_pro_attribute` att left join t_pro_info  pro on att.id=pro.proId
    </select>
</mapper>